<h1>手语教学</h1>
<h2 class="title" style="background: lightpink">手语——拉进距离</h2>
<div class="current">
  <div class="sale">
    <i class="fa-solid fa-city fa-10x"></i>
    <a href="#" class="introduce">来学日常交流吧</a>
    <div class="salemount"><span>阅览量：3K</span></div>
    <div class="rate">评价：6</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>
  <div class="sale">
    <i class="fa-solid fa-mug-hot fa-10x"></i>
    <a href="#" class="introduce">来看看日常休闲用什么交流吧</a>
    <div class="salemount"><span>阅览量：1K</span></div>
    <div class="rate">评价：6</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>

  <div class="sale">
    <i class="fa-solid fa-truck fa-10x"></i>
    <a href="#" class="introduce">出行必备手势，出行不再麻烦</a>
    <div class="salemount"><span>阅览量：678</span></div>
    <div class="rate">评价：8</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>
  <div class="sale">
    <i class="fa-solid fa-briefcase fa-10x"></i>
    <a href="#" class="introduce">一些在工作上的交流，上班族必备！</a>
    <div class="salemount"><span>阅览量：453</span></div>
    <div class="rate">评价：5</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>
  <div class="sale">

    <i class="fa-solid fa-a fa-10x"></i>
    <a href="#" class="introduce">这里是字母的手势比划，作为基础课大家快来看</a>
    <div class="salemount"><span>阅览量：332</span></div>
    <div class="rate">评价：4</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>
  <div class="sale">
    <i class="fa-solid fa-comments fa-10x"></i>
    <a href="#" class="introduce">一些基础交流的初学者必备课程！</a>
    <div class="salemount"><span>阅览量：102</span></div>
    <div class="rate">评价：3</div>
    <div class="buy"><a href="https://www.bilibili.com/video/BV1e8411j7QE/?spm_id_from=333.788.recommend_more_video.-1&vd_source=931687bf4bac0fecd553b61d0f6e2ed0">立即学习</a></div>
  </div>
</div>
<script src="https://kit.fontawesome.com/46cadb4452.js" crossorigin="anonymous"></script>